<!-- Navigation -->

<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          
          <a class="navbar-brand" [routerLink]="['/home']"> IceAndFire</a>
      </div>

      
  </div>
  <!-- /.container -->
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('https://cdn.pixabay.com/photo/2017/05/29/19/13/fire-and-water-2354583__340.jpg')">
  <div class="container">
      <div class="row px-5">
          <div class="col-lg-12 col-md-12">
              <div class="site-heading">
                   <h1>Ice and Fire</h1>
                  <hr class="small">
                  <span class="subheading ">A collection of  all information about a popular TV Series Game of Thrones and its related book series</span>                
              </div>
          </div>
      </div>
     
  </div>
</header>


<router-outlet></router-outlet>

        <ng4-loading-spinner  [loadingText]="'Please wait...'" ></ng4-loading-spinner>

<div class="footer">
	<div class="container">
		<p>Created By <b class="text-primary">Anchal Nigam</b></p>
	</div>
</div>
